.quiz {
  font-family: Arial, sans-serif;
  text-align: center;
}

.keyboard {
  margin-top: 2rem;
}

.keyboard input {
  border-radius: 5px;
  font-size: 20px;
  height: 4rem;
  margin: 0.3rem 0.2rem;
  text-transform: uppercase;
  width: 4rem;
}

.keyboard input:not(:disabled) {
  background-color: rgb(243, 243, 243);
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.keyboard input.correct {
  background-color: rgb(6, 255, 6);
  color: #000;
}

.keyboard input:not(:disabled):hover {
  background-color: rgb(94, 94, 94);
  color: #fff;
}

.keyboard input:disabled:not(.correct) {
    opacity: 0;
}

#question {
  font-size: 3rem;
}

#answer {
    background-color: #fbff91;
    border: 2px solid;
    border-radius: 5px;
    display: inline-block;
    letter-spacing: 1rem;
    font-size: 2rem;
    padding: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
}

.modal {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal.active {
  display: block;
}

.modal-inner {
  bottom: 0;
  height: 80%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
}