<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="social-media-list inline-list">
          <li><a class="u-email" href="mailto:{{ site.email }}">Email</a></li>
          {%- if site.github_username -%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><span class="username">GitHub</span></a></li>{%- endif -%}
          {%- if site.instagram_username -%}<li><a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><span class="username">Instagram</span></a></li>{%- endif -%}
        </ul>
      </div>
    </div>
  </div>
</footer>
