aside {
  border: 1px solid #999;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  margin: 15px 0;
  padding: 1rem;

  @media (min-width: 760px) {
    float: right;
    margin: 0 0 15px 15px;
    max-width: 40%;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
