---
---

* {
  box-sizing: border-box;
}

.p-navigation {
  // dirty Vanilla overrides, shhhh
  &__banner {
    padding-left: 1rem !important;

    @media (min-width: 620px) {
      padding-left: 1.5rem !important;
    }
  }
}
